@import '../../_styles/variables.scss';

.checkbox {
  appearance: none;
}

.checkbox::after {
  content: '';
  display: block;
  border: 2px solid #d7dde9;
  width: 20px;
  margin-top: -1px;
  height: 20px;
  border-radius: 4px;
}

.checkbox:checked::after {
  background-color: #a0dcf6;
  border-color: #0796d3;
  background-image: url('../../_assets/check.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}
